.container, .container-fluid {
    border: 3px red solid;
}

.row {
    border: 2px green solid;
    padding: 5px;
    margin: 5px;
}

.col, .col-6, .col-8 {
    border: 1px blue solid;
    margin: 5px;
}